@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
    .box1 {
        @apply h-[100px] w-[100px];
        background-color: #a9b8fa;
    }
    .box2 {
        @apply h-[100px] w-[100px];
        background-color: #558ada;
    }
    .checker {
        @apply bg-white h-[80px] w-[80px] block mx-auto my-3 cursor-pointer rounded-full opacity-30 transition-all hover:opacity-100 duration-300;
        border-color: rgba(255,255,255,0.1);
        border-width: 2px;
        border-style: solid;
        box-shadow: inset 5px 5px 10px rgba(0,0,0,.14), 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);;

    }
    .checker2 {
        @apply h-[80px] w-[80px] block mx-auto my-3 cursor-pointer rounded-full;
        border-color: rgba(255,255,255,0.1);
        border-width: 2px;
        border-style: solid;
        box-shadow: inset 5px 5px 10px rgba(0,0,0,.14), 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);;
    }
    .hover-bg-red {
        @apply hover:bg-[#DA4747];
    }
    .hover-bg-yellow {
        @apply hover:bg-[#DAB147]
    }
}